:root {
  /* Font */
  --main-font-roboto: 'Roboto', sans-serif;

  /* Text-colors */
  --subject-txt-cl: #ffffff;
  --navyblue-txt-cl: #2e2f42;
  --slate-txt-cl: #434455;
  --cornflower-txt-cl: #e7e9fc;

  /* Background colors */
  --navyblue-background-cl: #2e2f42;
  --cornflower-background-cl: #e7e9fc;
  --cloud-background-cl: #f4f4fd;
  --iris-button-cl: rgba(77, 90, 229, 0.1);
  --color-navigation: #4d5ae5;
  --FFF-background: #ffffff;
}
.link {
  text-decoration: none;
  color: currentColor;
  font-family: var(--main-font-roboto);
  font-weight: 500;
  font-size: 16px;
  line-height: calc(24 / 16);
  letter-spacing: 0.02em;
}
.list {
  list-style: none;
}

/*Main Page*/

/*Base styles*/
body {
  font-family: var(--main-font-roboto);
  font-size: 16px;
  background-color: #ffffff;
}

/*Header*/
header {
  background: var(--FFF-background);
}
.header-logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: calc(24 / 18);
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.header-web {
  color: var(--color-navigation);
}
.header-menu {
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 40px;
}

.headre-link link {
  line-height: calc(24 / 16);
  letter-spacing: 0.02em;
  color: var(--navyblue-txt-cl);
}

.header-link link:hover,
:focus {
  line-height: calc(24 / 16);
  letter-spacing: 0.02em;
  color: #404bbf;
}

/*Address*/
.contact-link {
  font-weight: 400;
  line-height: calc(24 / 16);
  letter-spacing: 0.02em;
  color: var(--slate-txt-cl);
}

/*Hero Section*/
.hero {
  background: var(--navyblue-background-cl);
}
.hero-slogan {
  font-size: 56px;
  line-height: calc(60 / 56);
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--subject-txt-cl);
}
.hero-btn {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 16px 32px;
  gap: 10px;
  background: var(--color-navigation);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  /* Botton text*/
  font-weight: 500;
  font-size: 16px;
  line-height: calc(24 / 16);
  color: var(--subject-txt-cl);
}
.hero-btn:hover,
.hero-btn {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 16px 32px;
  gap: 10px;
  background: #404bbf;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
/*Benefits*/
.benefits-subtitle {
  line-height: calc(24 / 20);
  letter-spacing: 0.02em;
  color: var(--navyblue-txt-cl);
}
.benefits-text {
  line-height: calc(24 / 16);
  letter-spacing: 0.02em;
  color: var(--slate-txt-cl);
}

/* Main context*/

.context-subject {
  line-height: calc(40 / 36);
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--navyblue-txt-cl);
}
.context-list image {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  justify-content: center;
}

/* Our team */

.team-title {
  line-height: calc(40 / 36);
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--navyblue-txt-cl);
}

.team-subtitle {
  line-height: calc(24 / 20);
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--navyblue-txt-cl);
  flex: none;
  order: 0;
  flex-grow: 0;
}
.team-text {
  line-height: calc(24 / 16);
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--slate-txt-cl);
}

/* Button-Portfolio*/
.button-list {
  display: flex;
  list-style: none;
  align-items: flex-start;
  padding: 0px;
  gap: 24px;
}

.button-item {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 24px;
  background: var(--cloud-background-cl);
  border: 1px solid #e7e9fc;
  border-radius: 4px;
  /* Button Text */
  font-family: 'Roboto';
  line-height: calc(24 / 16);
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;
  /* IRIS */
  color: #4d5ae5;
}
.button-item:hover,
:focus {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 12px 24px;
  background: #404bbf;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  /*Text*/
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;
  color: var(--subject-txt-cl);
}

/* ROW Portfolio*/

.rowone-title {
  font-family: var(--main-font-roboto);
  font-weight: 500;
  font-size: calc(20 / 20);
  letter-spacing: 0.02em;
  color: var(--navyblue-txt-cl);
  flex: none;
  order: 0;
  flex-grow: 0;
}
.rowone-text {
  font-family: var(--main-font-roboto);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: calc(24 / 16);
  letter-spacing: 0.02em;
  color: var(--slate-txt-cl);
  flex: none;
  order: 1;
  flex-grow: 0;
}
.rowone-list {
  list-style: none;
}

/*Row Two Portfolio*/

.rowtwo-list {
  list-style: none;
}
.rowtwo-title {
  font-family: var(--main-font-roboto);
  font-weight: 500;
  font-size: 20px;
  line-height: calc(24 / 20);
  letter-spacing: 0.02em;
  color: var(--navyblue-txt-cl);
  flex: none;
  order: 0;
  flex-grow: 0;
}

.rowtwo-text {
  font-family: var(--main-font-roboto);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: calc(24 / 16);
  letter-spacing: 0.02em;
  color: var(--slate-txt-cl);
  flex: none;
  order: 1;
  flex-grow: 0;
}
/*Row Three Portfolio*/

.rowthree-list {
  list-style: none;
}
.rowthree-title {
  font-family: var(--main-font-roboto);
  font-weight: 500;
  font-size: 20px;
  line-height: calc(24 / 20);
  letter-spacing: 0.02em;
  color: var(--navyblue-txt-cl);
  flex: none;
  order: 0;
  flex-grow: 0;
}
.rowthree-text {
  font-family: var(--main-font-roboto);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: calc(24 / 16);
  letter-spacing: 0.02em;
  color: var(--slate-txt-cl);
  flex: none;
  order: 1;
  flex-grow: 0;
}
/*Footer*/
.footer {
  background: var(--navyblue-background-cl);
}
.footer-logo {
  font-family: 'Raleway';
  font-weight: 800;
  font-size: 18px;
  line-height: calc(21 / 18);
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--cloud-background-cl);
}

.footer-web {
  color: var(--color-navigation);
}

.footer-text {
  font-family: var(--main-font-roboto);
  font-weight: 400;
  font-size: 16px;
  line-height: calc(24 / 16);
  letter-spacing: 0.02em;
  color: var(--cornflower-txt-cl);
}
